{% extends 'base.html' %} 
{% load static %}

{% block contend %}
     <!-- Packages Start -->
<!-- Packages Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h1>Instituciones de Cultura</h1>
        </div>
        <div class="row align-items-stretch">
            {% for culture in culture_list %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white h-100 mb-2">
                    <img class="img-fluid" src="{{culture.image.url}}" alt="">
                    <div class="p-4 d-flex flex-column">
                        <div class="mb-3">
                            <small><i class="fa fa-map-marker-alt text-primary mr-2">{{culture.address}}</i></small>
                        </div>
                        <a class="h5 text-decoration-none" href="{% url 'culture_detail_view' pk=culture.pk %}">{{culture.name}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Packages End -->

{% endblock %}