{% extends 'base.html' %} 

{% block contend %}
<!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6" style="min-height: 500px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{{education.image.url}}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 pt-5 pb-lg-5">
                    <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                        <h1 class="mb-3">{{education.name}}</h1>
                        <h4 class="mb-3"> Dirección: {{education.address}}</h4><br>
                        
                        <span> {{education.description}}</span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    {% if projects %}
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h1>Proyectos</h1>
            </div>
            <div class="row">
                <table class="table table-hover" style="margin-top: 5%; padding: 5px;">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripción</th>
                        
                    </tr>
                  </thead>
                    <tbody>
                      
                       
                            {% for project in projects %}
                                <tr>
                                    <td>{{ project.name }}</td>   
                                    <td>{{ project.description }}</td>  
                                </tr> 
                            {% endfor %}       
                       
                      
                    </tbody>
                  </table>
              </div>
        </div>
      </div>
      
    {% else %}
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h1>No contiene servicios disponibles</h1>
            </div>
            
        </div>
      </div>
      
    {% endif  %}

{% endblock %}