{% extends 'base.html' %} 
{% load static %}

{% block contend %}
     <!-- Packages Start -->
<!-- Packages Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        
        {% if institutions_type %}
            <div class="text-center mb-3 pb-3">
                <h1>Instituciones</h1>
            </div>
            <div class="row">
                
                {% for type in institutions_type %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="service-item bg-white text-center mb-2 py-5 px-4">
                            <a href="{% url 'institutions_type_view' type=type.name %}">
                                <i class="fa fa-2x fa-university mx-auto mb-4"></i>
                            </a>
                            <h5 class="text-primary mb-2">{{type.name}}</h5>
                            
                        </div>
                    </div>
                {% endfor %}
    
            </div>
        {% else %}
            <div class="text-center mb-3 pb-3">
                <h1>No existe información disponible</h1>
            </div>
        {% endif %}
            
        
    </div>
</div>

<!-- Packages End -->

{% endblock %}