{% extends 'base.html' %} 
{% load static %}

{% block contend %}

<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h1>{{type}}</h1>
        </div>
        
        {% if institutions %}
            <div class="row align-items-stretch">
                {% for institution in institutions %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="package-item bg-white h-100 mb-2">
                            <img class="img-fluid" src="{{institution.image.url}}" alt="">
                            <div class="p-4 d-flex flex-column">
                                <div class="mb-3">
                                    <small><i class="fa fa-map-marker-alt text-primary mr-2">{{institution.address}}</i></small>
                                </div>
                                <p class="h5 text-decoration-none">{{institution.type_institution}}</p>
                                <a class="h5 text-decoration-none" href="{% url 'institution_detail_view' pk=institution.pk %}">{{institution.name}}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div> 
        {% else %}
            <div class="text-center mb-3 pb-3">
                <h1>No existe información disponible</h1>
            </div>
        {% endif %}
            
        
    </div>
</div>

{% endblock %}

