{% extends 'base.html' %} 


{% block contend %}
<!-- Service Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h1>Servicios</h1>
            </div>
            <div class="row">
                
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <a href="{% url 'polyclinics_view' %}">
                            <i class="fa fa-2x fa-heartbeat mx-auto mb-4" ></i>
                        </a>
                        <h5 class="text-primary mb-2">Policlínico</h5>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <a href="{% url 'pharmacy_view' %}">
                            <i class="fa fa-2x fa-heartbeat mx-auto mb-4" ></i>
                        </a>
                        <h5 class="text-primary mb-2">Farmacia</h5>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="service-item bg-white text-center mb-2 py-5 px-4">
                        <a href="{% url 'consultingroom_view' %}">
                            <i class="fa fa-2x fa-heartbeat mx-auto mb-4" ></i>
                        </a>
                        <h5 class="text-primary mb-2">Consultorio</h5>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Service End -->
{% endblock  %}